
<%- include("partials/header"); -%>


    <h1><%=title%></h1>
    <p><%=content%></p>

    <button type="button" class="btn btn-dark"><a href="/home">Go back</a></button>

<%- include("partials/footer"); -%>
